h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: blue;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: purple;
}

.article image {
    text-align: center;
}

img {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}